
    .body{
        <?php 
            if(isset($_SESSION["userbgcolor"])){
                echo "\t \t background-color:" .$_SESSION["userbgcolor"] .";\n";
            }else{
                echo "\t \t background-color: #2e3440; \n";
            }
            if(isset($_SESSION["usertxtcolor"])){
                echo "\t \t color:" .$_SESSION["usertxtcolor"] .";\n";
            }else{
                echo "\t \t color: #f5f5f5; \n";
            }
        ?>
        background-repeat: no-repeat;
        background-size: auto;
        font-family: Arial, Helvetica, sans-serif;
     }
   